:root {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 62.5%;
	--text-primary: #555;
	--title-primary: #000;
	--link-primary: #555;
    --link-secondary: #000;
	--background-primary: #fff;
	--background-secondary: #f7f7f7;
    --background-tertiary: #efefef;
    --border-primary: #000;
}
html {
    position: absolute;
    top: -10px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5rem;
	color: var(--text-primary);
	line-height: 2.5rem;
}
h1 {
	color: var(--title-primary);
}
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 95%;
    margin: auto;
}

/* Nav */
.nav header {
    text-align: center;
}
.nav__title {
    font-weight: normal;
}
.nav__title a {
    text-decoration: none;
    color: var(--title-primary);
}
.nav__subtitle {
    margin-top: -15px;
    font-size: smaller;
    color: var(--text-primary);
}
.nav__list {
    height: 20rem;
    overflow: scroll;
	margin: 0 0 4rem 0;
	padding: 0;
    border: 1px solid var(--border-primary);
}
.nav__item {
    list-style: none;
}
.nav__link {
	display: block;
	text-decoration: none;
	color: var(--link-primary);
	border-bottom: 1px solid var(--link-primary);
	padding: .8rem 2.8rem;
}
.nav__link:hover {
    color: var(--link-secondary);
    background-color: var(--background-tertiary);
}

.main {
    margin: 0 0 10rem 0;
}
img {
    width: 100%;
    max-width: 500px;
}
section header {
	font-size: 2.8rem;
	color: var(--title-primary);
}

/* Hero */
.hero {
    margin-bottom: 3rem;
}

/* Article */
article {
	padding: 0 0 0 1.5rem;
}
code {
    background-color: var(--background-secondary);
    padding: 0 .5rem;
}
.article__code {
	display: block;
	background-color: var(--background-secondary);
	position: relative;
	left: -2rem;
	padding: 1.5rem 1rem;
	border-radius: 5px;
}
article li {
	padding-bottom: 1rem;
}


/* For larger screens */
@media (min-width: 815px) {
    .flex-container {
      flex-direction: row;
      width: 100%;
    }

    .nav {
      height: 100%;
      width: auto;
      border-right: 2px solid var(--link-primary);
    }
    .nav--fixed {
        position: fixed;
    }
    .nav__list {
        height: auto;
        width: 300px;
        overflow: auto;
        margin: 0 0 4rem 0;
        padding: 0;
        border-right: none;
    }
    .nav__item:last-child a {
        border-bottom: none;
    }

    .main {
      width: auto;
      padding: 0;
      margin: 2rem 2rem 0 33rem;
    }
}